# Visual Studio
.vs/
.vscode/

# Build
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/

# Test results
TestResults/
*.trx

# Logs
*.log

# Publish
publish/